ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #111;
}

.rightside{
    float:right;
}

.form{
    /* Hidden By default */
    /**/border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 4px;
    height: 200px;
    width: 600px;
    margin:0 auto;
    padding-bottom: 50px;
}

input[type=text],input[type=email], input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

h1{
    display: center;
    padding-left: 20px;
    text-align: center;
}
