* {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #111;
}

.rightside{
    float:right;
}

body {
    font-family: Arial;
    padding: 10px;
    background: #f1f1f1;
    /*background: url(../img/image.jpg);
    background-size: cover;
    background-repeat: no-repeat*/;
}

h1{
    display: center;
    padding-left: 20px;
    text-align: center;
}

/* .active {
    background-color: #4CAF50;
} */

/* Header/Blog Title */
.header {
    padding: 30px;
    text-align: center;
    background: white;
}

.header h1 {
    font-size: 50px;
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #333;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
    float: left;
    width: 70%;
    background-color: rgba(186, 162, 45, 0.0)
}
.leftcolumn1 {   
    float: left;
    width: 100%;
}

.col{
    float: left;
    padding-left: 5px;
    width: 20%;
}



.col2{
    padding-left: 35px;
    float: left;
    width: 35%;
}

.col3{
    float: left;
    width: 25%;
}

.colt1{
    float: left;
    width: 25%;
}

.colt1{
    float: left;
    width: 25%;
}

.colt4{
    float: left;
    width: 20%;
}


/*//Edit Order form page*/
.form{
    /* Hidden By default */
    /**/border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 4px;
    height: 350px;
    width: 600px;
    margin:0 auto;
    padding-bottom: 50px;
}

input[type=text],input[type=email] ,input[type=number], input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


/* Right column */
.rightcolumn {
    float: left;
    width: 30%;
    /*background-color: #f1f1f1;*/
    padding-left: 20px;
}

/* Fake image */
.fakeimg {
    background-color: #aaa;
    width: 80%;
    /*padding: 20px;*/
}

/* Add a card effect for articles */
.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

.cardx {
    background-color: rgba(186, 162, 45, 0.0);
    padding: 20px;
    margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
}


/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    /*display: none;*/
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.button-edit{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    border-radius: 8px;
    cursor: pointer;
}

.button {
    
    background-color: #f44336; /* Red */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    border-radius: 8px;
    cursor: pointer;
}



.buttons{
  margin-top: 15px;
}

.buttonx{
  margin-top: 0px;
}

table{
    width: 100%
}

td, th {
    /*border: 1px solid #dddddd;*/
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    color: white;
}

tr:nth-child(odd) {
    color: white;
}

input[type=number], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.rightside{
    float:right;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
        width: 100%;
        padding: 0;
    }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}
