body {
    font-family: Arial, Helvetica, sans-serif;
    /* background: white; */
    background: url(../img/image_new_size.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    }
/*
.bodyImage{
    background: url(../../img/image3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
} */  

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

label {
    color: white;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

.rightside{
    float:right;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    /*border: 1px solid #dddddd;*/
    text-align: center;
    padding: 10px;
}

tr:nth-child(even) {
    background-color: rgba(186, 162, 45, 0.4)
}

tr:nth-child(odd) {  
    background-color: rgba(186, 162, 45, 0.4)
}

.button {
    
    background-color: #f44336; /* Red */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    border-radius: 8px;
    cursor: pointer;
}


.button-edit{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    border-radius: 8px;
    cursor: pointer;
}

h1{
    display: center;
    padding-left: 20px;
    text-align: center;
}

.button-add{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    float:right;
    padding: 12px 80px;
    margin-left: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    border-radius: 8px;
    cursor: pointer;
}

.button-addmeal{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    float:none;
    padding: 12px 80px;
    margin-left: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    border-radius: 8px;
    cursor: pointer;
}

.form{
    /* Hidden By default */
    /**/border-radius: 5px;
    /* background-color: #f2f2f2; */
    padding: 20px;
    border-radius: 4px;
    height: 200px;
    width: 600px;
    margin:0 auto;
    padding-bottom: 50px;    
}

.form1x{
    /* Hidden By default */
    /**/border-radius: 5px;
    /* background-color: #f2f2f2; */
    padding: 20px;
    border-radius: 4px;
    height: 450px;
    width: 600px;
    margin:0 auto;
    padding-bottom: 50px;
    
}

.form3{
    /* Hidden By default */
    /**/border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 4px;
    height: 250px;
    width: 600px;
    margin:0 auto;
    padding-bottom: 50px; 
}

/* .label{
    text-decoration: none;
    color: #f2f2f2;
} */

input[type=text], input[type=email],input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

/* The Modal (background) */
/*  */

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

h3{
    display: inline-block;
    padding-left: 10px;
    margin-left: 120px;
}

.summary{
    background-color: #f2f2f2;
    border-radius: 5px;
    width: 1350px;
   
    text-align: center
}

dashboard{
    background: white;
}

.select-signup{
    /* Hidden By default */
    padding-left: 650px;
    padding-top: 25px;
    
}
/* background-color: rgba(186, 162, 45, 0.4) 
color: rgb(222, 234, 255);
background-color: rgba(112, 98, 27, 0.43)
*/

/* 
background-color: rgba(112, 99, 36, 0.81) 

color: rgba(245, 239, 247, 0);
background-color: rgba(112, 99, 36, 0.75);
*/


